.bgimage {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/giftly.png);
}

/* 
https://www.toptal.com/designers/subtlepatterns/uploads/giftly.png
https://www.toptal.com/designers/subtlepatterns/uploads/restaurant_icons.png

https://www.toptal.com/designers/subtlepatterns/uploads/doodles.png
https://www.toptal.com/designers/subtlepatterns/uploads/email-pattern.png

https://www.toptal.com/designers/subtlepatterns/uploads/memphis-colorful.png
https://www.toptal.com/designers/subtlepatterns/uploads/geometry2.png

https://www.toptal.com/designers/subtlepatterns/uploads/leaves-pattern.png

https://www.toptal.com/designers/subtlepatterns/uploads/memphis-mini.png

https://www.toptal.com/designers/subtlepatterns/uploads/tic-tac-toe.png

*/